@media only screen and (max-width: 1100px) {

    .col_3 {
        width: 550px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 950px) {
    .col_3 {
        width: 450px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .col_1 {
        width: 50px;
    }

    .col_3 {
        width: 290px;
    }
    .col_4 {
        width: 190px;
    }
    .col_4 img {
        width: 26px;
    }

    .logo_name{
        height: 340px;
        background-image: url('/img/bg/name_6.png');
        background-position: center;
        background-size: 1600px;
    
    }
}

@media only screen and (max-width: 650px) {
    .col_1 {
        width: 40px;
        text-align: center;
        margin: auto;
    }

    .col_3 {
        width: 270px;
    }

    .col_4 {
        width: 160px;
        text-align: center;
        margin: auto 0;
    }

    .col_4 a {
        padding: 0 0.5rem 0 0.5rem;
    }
    
    .col_4 img {
        width: 20px;
    }

    .logo_name{
        height: 200px;
        background-image: url('/img/bg/name_7.png');
        background-size: 1100px;
        background-position-y: -20px;
    }

    .foot {
        height: 121px;
    }
}

@media only screen and (max-width: 530px) {
    .col_1 {
        width: 50px;
        text-align: center;
        margin: auto;
    }

    .col_3 {
        width: 210px;
    }

    .col_4 {
        width: 120px;
    }
}

@media only screen and (max-width: 470px) {
    .col_1 {
        width: 50px;
    }

    .col_3 {
        width: 160px;
        font-size: 30px;
    }

    .col_4 {
        width: 100px;
    }
    .logo_name{
        height: 200px;
        background-image: url('/img/bg/name_7.png');
        background-size: 1000px;
        background-position-y: -25px;
    }
}