@media only screen and (max-width: 550px) {
    .col_3 {
        width: 30%;
        font-size: 15px;
    }
    .col_4 {
        width: 150px;
    }
}

@media only screen and (max-width: 550px) {
    .col_3 {
        width: 40%;
        font-size: 10px;
    }
    .col_1 {
        width: 50px;
    }
    .col_4 img {
        width: 20px;
    }
    .col_4 {
        width: 130px;
    }
}