* {
    padding: 0;
    margin: 0;
}
body {
    font-family: comic sans ms, 'Courier New', Courier, monospace;
}
.container {
    width: 100%;
    height: max-content;
    background-color: #111111;
    color: rgb(207, 207, 207);
}
.list {
    display: flex;
    flex-wrap: wrap;
}

/*start logo*/
.col_1 {
    text-align: left;
    margin: auto 2rem;
}
.col_2 {
    text-align: center;
    margin: auto;
}

.logo_text_0 {
    width: 65%;
    text-align: left;
    font-family: SolustionDemo;
    font-size: 50px;
    margin: auto 2rem;
}

.logo_text {
    font-size: 35px;
    font-family: Madrigal;
}

.logo_text_1 {
    font-size: 25px;
    font-family: Madrigal;
    margin: auto 2rem auto 0;
}

.col_img {
    width: 60px;
}

/*end logo*/   



hr {
    width: 100%;
    margin: auto;
    background-color:#68B7E8;
    height: 4px;
    border: none;
    text-align: center;
}


.logo_name{
    height: 390px;
    background-image: url('../img/bgt/name_7.png');
    background-position: center;
    background-size: 1700px;
}


/*section menu start*/

/*menu start*/

.container_menu {
    background-image: url("https://avatars.mds.yandex.net/get-zen_doc/1712062/pub_6022e8df064ec93518296a57_6022effad6ee57324977e835/scale_1200");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;     
}

.menu {
    width: 100%;
    font-size: 22px;
    text-align: center;
    color:rgb(207, 207, 207);
    background-color: #0a0f13fb;
    min-height: 200px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 58px;
    color:#444;
    font-weight: bold;
    border: 2.3px solid #444;
    background:#68B7E8;
    border-radius: 15px;
    font-size: 27px;
    margin: 2rem;
    box-shadow: 0px 0px 50px 0px rgb(68, 68, 68);
    text-decoration: none;
    text-align: center;
}

.list_menu {
    width: 100%;
    font-size: 22px;
    text-align: center;
    color:rgb(207, 207, 207);
    background-color: #0a0f13fa;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    height: max-content;
    justify-content: space-around;
    padding: 0 0 1em;
}

.list_menu a {
    color:rgb(207, 207, 207);
    text-decoration: none;
    margin: auto 1rem 0.5rem;
    padding: auto;
    box-shadow: 0px 0px 5px 0px rgb(68, 68, 68);
    border: 2.3px solid #444;
    border-radius: 15px;
    width: 200px;
}

/*menu end*/


/*reg start*/

.reg {
    background-image: url('/img/bgt/book_2.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.fon{
    background-color: #111111fa;
}

.reg_text {
    color: rgb(207, 207, 207);
    font-size: 22px;
    padding: 3rem 2rem;
    text-align: center;
    max-width: 900px;
    margin: auto;

}

.reg .one {
    font-size: 38px;
    color: rgb(244, 244, 244);
    padding: 0 0 1rem;
    font-family: 'Lato1';
    font-weight: bold;
}
.reg a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.reg img {
    margin: 1rem;
    width: 50px;
}

/*reg end*/


.foot {
    background-color: rgb(5, 5, 5);
    height: max-content;
    text-align: center;
    font-size: 16px;
    color: rgb(177, 177, 177);
    padding:1rem 0;
}

.two {
    margin: 0.5rem 0 0;
}