* {
    margin: 0;
    padding: 0;
}

body {
    font-family: comic sans ms, 'Courier New', Courier, monospace;
}
.container {
    width: 100%;
    height: max-content;
    background-color: #111111;
    color: rgb(207, 207, 207);
}



.container_header {
    border-bottom: #444;
    background-color: #111111; 
    width: 100%;
}


.list {
    display: flex;
    flex-wrap: wrap;
}

/*start logo*/
.col_1 {
    text-align: left;
    margin: auto 2rem;
}
.col_2 {
    text-align: center;
    margin: auto;
}

.logo_text_0 {
    width: 65%;
    text-align: left;
    font-family: 'SolustionDemo';
    font-size: 50px;
    margin: auto 2rem;
}

.logo_text {
    font-size: 35px;
    font-family: Madrigal;
}

.logo_text_1 {
    font-size: 25px;
    font-family: Madrigal;
    margin: auto 2rem auto 0;
}

.col_img {
    width: 60px;
}


hr {
    width: 100%;
    margin: auto;
    background-color:#68B7E8;
    height: 4px;
    border: none;
    text-align: center;
}


.body {
    min-height: 750px;
    background-image: url('img/bgt/bg_2.png');
    background-position: center;
    background-size: 1650px;
}

/** login start**/

.log form {
    background-color: rgba(97, 97, 97, 0.068);
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    color: rgb(173, 173, 173);
    border-radius: 5px;
    border-top:  2px solid #444;
    box-shadow: 3px 3px 10px 3px #444;
    margin: auto;
}

.log input[type="text"],
.log input[type="email"]{
    padding: 8px 5px;
    color: rgb(128, 128, 128);
    background: transparent;
    width: 70%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(65, 65, 65);
    font-size: 15px;
}

.log button {
    height: 40px;
    min-width: 50%;
    background: none;
    border:none;
    border: 1px solid #666;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
}

.log button:hover {
    transition-duration: 0.3s;
    background-color: rgb(104, 104, 104); /*цвет при наведении*/
    box-shadow: 0 0 6px 0 rgb(63, 63, 63);
    color: rgb(209, 209, 209);
}

.log {
    padding: 5rem 0;
}

.login {
    color: rgb(173, 173, 173);
    font-size: 40px;
    text-align: center;    
}
/** login end**/


/**registr start**/

.registr_btn {
    margin: 0 0 1em;
}
/**registr end**/

.a {
    text-decoration: none;
    color: rgb(173, 173, 173);
    font-size: 20px;
}
